@model IEnumerable<Book>

<h2>Lista Ksiązek:</h2>

<a asp-action="Create">Dodaj książkę</a>

<table class="table">
    <tr> @* Table Row *@
        <th> @* Table Head *@
            Tytuł
        </th>
        <th>
            Autor
        </th>
        <th>
            Ilość stron
        </th>
        <th>
            Numer ISBN
        </th>
        <th>
            Rok wydania
        </th>
        <th>
            Wydawca
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Availability)  @* Display name taken from field name od Name attribute if specified *@
        </th>
        <th>
            Akcje
        </th>
    </tr>
    @foreach(Book item in @Model)
    {
        <tr>
            <td> @* Table Data *@
                @item.Title
            </td>
            <td>
                @item.Author
            </td>
            <td>
                @item.Pages
            </td>
            <td>
                @item.ISBN
            </td>
            <td>
                @item.PublishYear
            </td>
            <td>
                @item.Publisher
            </td>
            <td>
                @item.Availability.GetDisplayName()  @* !! Custom Extension method !! *@
            </td>
            <td>
                <a asp-controller="Book" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-controller="Book" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-controller="Book" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
    }
</table>