@model Egzamin_Rectangle1.Models.Rectangle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rectangle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WidthUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WidthUnit!.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeightUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeightUnit!.Name)
        </dd>
        <dt class="col-sm-2">
            Powierzchnia
        </dt>
        <dd class="col-sm-10">
            @ViewData["Area"] m<sup>2</sup>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
